body {
    background-color: black;
}

body, * {
    padding: 0 !important; margin: 0: }

#wrapper {
    width:750px; 
    height: 750px; 
    
     }


.ball {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
    border-radius: 100%;
    /*background-image:url('media/images/duck.png');*/
}

#round {
    /*background-image:url('media/images/duck.png');*/
    background-color: #3e181b;
    border: 3px solid #db1d2d;
    position: absolute;
    width: 100px;
    height: 100px; 
    margin:auto;
}